{% extends 'base.html' %}

{% block title_head %}
<title>Crear Perro</title>
{% endblock title_head %}

{% block h1_header %}
Crear Perro
{% endblock h1_header%}

{% block contenido %}
{% comment "" %}{% if perro %}
<h2>Se creo el perro con nombre {{perro.nombre}} y edad {{perro.edad}} </h2>
{% endif %} {% endcomment %}
 
<form action= {% url 'inicio:crear_perro' %} method="POST">
    {% csrf_token %}

    {% comment  %} V1 {% endcomment %}

   {% comment  %} <p>
       Nombre:
        <input type="text" name="nombre">
    </p>
    <p>
        Edad:
        <input type="number" name="edad">   
    </p>
    {% comment "" %}<input type="submit" value="Crear">{% endcomment %}


    {% comment  %} V2 {% endcomment %}
    <table>
     {{formulario}}
    </table>
    
    <button>Crear</button>
</form>
{% endblock contenido %}