{% extends 'base.html' %}

{% block title_head %}
<title>Perros</title>
{% endblock title_head %}

{% block h1_header %}
{% comment "" %}Se creo el perro con nombre {{perro.nombre}} y edad {{perro.edad}} {% endcomment %}
Listado de Perros
{% endblock h1_header%}

{% block contenido %}
<button>
    <a class="navbar-brand" href={% url 'inicio:crear_perro' %}>Crear perro</a>
</button>
<form action="" method="get">
    {{formulario}}
    <button>Buscar</button>
</form>

{% if perros %}
{% for perro in perros  %}
<li>Nombre: {{perro.nombre}} - Edad: {{perro.edad}}</li>
{% endfor %}
{% else %}
<p>No se encontraron datos cargados</p>
{% endif %}
{% endblock contenido %}