{% extends 'base.html' %}


{% block title_head %}
<title>Prueba</title>
{% endblock title_head %}

{% block h1_header %}
Este es primer template que cree
{% endblock h1_header%}

{% block contenido %}
<p>{{mensaje}}</p>
{% if segundo_redondo %} 
<p style='color: yellow;'>{{segundos}}</p>
{% elif segundo_par %} 
<p style='color: red;'>{{segundos}}</p>
{% else %} 
<p style='color: green;'>{{segundos}}</p>
{% endif %}

{% for numero in listado_de_numeros %} 
<p style='color: blue;'>{{numero}}</p>
{% endfor %} 
{% endblock contenido %}

