
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Este es primer template que cree</h1> 
   <p>{{mensaje}}</p>
    {% if segundo_redondo %} 
    <p style='color: yellow;'>{{segundos}}</p>
    {% elif segundo_par %} 
    <p style='color: red;'>{{segundos}}</p>
    {% else %} 
     <p style='color: green;'>{{segundos}}</p>
    {% endif %}

    {% for numero in listado_de_numeros %} 
    <p style='color: blue;'>{{numero}}</p>
    {% endfor %} 


</body>
</html>